@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  
  .nav-head{
    width: 1440px;
    height: 102px;
    margin-top: 20px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-items: auto;
  }


  #logo{
    width: 62px;
    height: 62px;
  }


  .school{
    margin-left: 10px;
    font-family:"Quicksand", serif ;
    font-weight: 700px;
    font-size: 32px;
    color: black;
  }


  .Home{
    margin-left: 186px;
    font-family:"Quicksand", serif ;
    font-weight: 800px;
    font-size: 20px;
    text-decoration: none;
    padding-right: 30px;
    color: orange;
  }


  .About{
    font-family:"Quicksand", serif ;
    font-weight: 400px;
    font-size: 20px;
    text-decoration: none;
    padding-right: 30px;
    color:skyblue;
  }


.Facilities{
    font-family:"Quicksand", serif ;
    font-weight: 400px;
    font-size: 20px;
    text-decoration: none;
    padding-right: 30px;
    color: #05D4DF;
}


.Admission{
    
    font-family:"Quicksand", serif ;
    font-weight: 400px;
    font-size: 20px;
    text-decoration: none;
    color: #5D58EF;
}


.contact{
    margin-left: 186px;
    width: 197px;
    height: 50px;
    border-radius: 12px;
    background-color: orange; 
    border: none;
    font-family:"Quicksand", serif ;
    font-weight: 700px;
    color: #FFFFFF;
}


.Main{
    width:1440px;
   margin-left: 140px;
   align-items: center;

    height: 575px;
    display: flex;
    

}


.main-div{
    width: 640px;
    height: 183px;
    margin-bottom: 200px;
}


.Text-head{
    width: 640px;
    height:183px ;
    font-family:"Quicksand", serif ;
    font-weight: 800;
    font-size: 56px;
    
 
}


.Hero{
    padding-left: 30px;
    width: 469px;
    height: 575px; 
    align-items: center;
}


#Empower{
    font-family:"Quicksand", serif ;
    font-size: 56px;
    color: orange;
}


#Toward{
    font-family:"Quicksand", serif ;
    font-size: 56px;
    color:skyblue;
}


.Text-two{
    font-family:"Quicksand", serif ;
    font-size: 20px;
    font-weight: 300;
}


.Enroll{
    width:197px;
    height: 50px;
    background-color: black;
    border-radius: 12px;
    font-family:"Quicksand", serif ;
    color:#FFFFFF ;

}


.Main-Items{
    width: 1440px;
    background-image: url(photo/bg.png);
}


.Section{
    margin-left: 140px;
    width: 1440px;
    height: 851px;
   
    background-repeat: no-repeat;
}


.Standard{
    margin-left: 300px;
    margin-top: 60px;
    margin-bottom: 80px;
    font-family:"Quicksand", serif ;
    font-size: 46px;
    font-weight: 800;
    align-items: center;
}


.Photos-Text{
    width: 1160px;
    height: 482px;
  
    display: flex;
}


.First-Box{
    width: 368px;
    height: 477px;
    background: linear-gradient(to bottom, #a4c5e5d0,#ffffff ) ;
    padding-top: 50px;
    margin-right: 28px;
    border-radius: 18px;
    align-items: center;
    text-align: center;
}


.Second-Box{
    width: 368px;
    height: 477px;
    background: linear-gradient(to bottom, #FFF4DC,#ffffff ) ;
    padding-top: 50px;
    margin-right: 28px;
    align-items: center;
    text-align: center;
    border-radius:18px;
  
}



.Third-Box{
   
    width: 368px;
    height: 477px;
    background: linear-gradient(to bottom, #F2E8FF,#ffffff ) ;
    padding-top: 50px;
    margin-right: 28px;
    align-items: center;
    text-align: center;
    border-radius: 18px;
}


.Head-Three{
    padding-top: 30px;
    font-family:"Quicksand", serif ;
    font-weight: 800px;
    font-size: 25px;
    color: black;
}


.Head-Three2{
    padding-top: 30px;
    font-family:"Quicksand", serif ;
    font-weight: 800px;
    font-size: 25px;
    color: black;
}


.Head-Three3{
    padding-top: 30px;
    font-family:"Quicksand", serif ;
    font-weight: 800px;
    font-size: 25px;
    color: black;
}


.P-text{
    
    font-family:"Quicksand", serif ;
    font-weight: 400px;
    font-size: 15.09px;
    color:#808080;
}


.Read-One{
    font-family:"Quicksand", serif ;
    font-size: 15.09px;
    font-weight: 800;
    color:#64C8FF ;
    margin-top: 40px;
    margin-bottom: 40px;

}


.Read-Two{
    font-family:"Quicksand", serif ;
    font-size: 15.09px;
    font-weight: 800;
    color:#F0AA00 ;
    margin-top: 40px;
    margin-bottom: 40px;

}


.Read-Three{
    font-family:"Quicksand", serif ;
    font-size: 15.09px;
    font-weight: 800;
    color:#761ec3 ;
    margin-top: 40px;
    margin-bottom: 40px;
}


.Ball{
    margin-top: 100px;
    margin-left: 520px;
    margin-bottom: 50px;
    width: 1440px;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
}


.Ball-One{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 100%;
    background-color: #F0AA00;
    align-items: center;
    text-align: center;
    font-size: 25px;
    color: aliceblue;
    padding-top: 10px;
}


.Ball-Two{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #F0AA00;
    align-items: center;
    text-align: center;
    font-size: 25px;
    color: aliceblue;
    padding-top: 10px;
}


.Story-Image{
    width: 540px;
    height: 630px;
}


.Heading{
   
    margin-left: 600px;
    margin-bottom: 60px;
    width: 1440px;
    padding-top: 50px;
    height: auto;
    font-family:"Quicksand", serif ;
    font-size: 46px;
    font-weight: 800px;
    
    
}


.Section-Two{
    width: 1440px;
    height:1018px ;
    background-image: url(photo/bg.png);
    background: linear-gradient(to top, #f5e7ce,#ffffff);
    
}



.Our-Stories{

    margin-top:50px;
   margin-left: 140px;
   padding-top: 50px;
    width:1440px ;
    height:1018px ;
    display: flex;
}


.First-Photo{
    background-color: #FFFFFF;
    border-radius:16px ;
    margin-right: 15px;
    width: 540px;
    height: 630px;
}


.All-Photo{
    width:601px ;
    height: 623px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.Border-Photo-One{
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #FFFFFF;
    border-radius: 16px;
}
.Border-Photo-Two{
    width: 291px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border-radius: 16px;
}


.Border-Photo-Four{
    width: 290px;
    background-color: #FFFFFF;
    border-radius: 16px;
}


.Border-Photo-Three{
   margin-right: 10px;
    background-color: #FFFFFF;
    border-radius: 16px;
}
.Photos{
    border-radius: 16px;
}


.Photos-Picture{
    align-items: center;
    text-align: center;
    font-family:"Quicksand", serif ;
    font-size:15.34px ;
    font-weight: bold;
    color: black;
}


#A-Fun{
    margin-top: 35px;
    padding-left: 20px;
    font-family:"Quicksand", serif ;
    font-size: 24px;
    font-weight: bold;
    color: black;
}


#Beautiful{
    padding-top: 10px;
    padding-left: 20px;
    font-family:"Quicksand", serif ;
    font-size: 15.34px;
    font-weight: 400px;
    color: #666666;
}


#Image-Button-One{
    width: 175px;
    height: 47px ;
    background-color:#3CD8E8 ;
    border: none;
    border-radius:47px ;
    margin-left: 40px;
    margin-top: -200px;
    color: #FFFFFF;
   
}


#Image-Button-Two{
    width: 175px;
    height: 37px ;
    background-color:#95B226 ;
    border: none;
    border-radius:47px ;

    margin-left: 40px;
    margin-top: -150px;
    color: #FFFFFF;
   
}


#Image-Button-Three{
    width: 175px;
    height: 37px ;
    background-color:#5D58F0 ;
    border: none;
    border-radius:47px ;
    
    margin-left: 40px;
    margin-top: -150px;
    color: #FFFFFF;
}


#Image-Button-Four{
    width: 175px;
    height: 37px ;
    background-color:#95B226;
    border: none;
    border-radius:47px ;
    
    margin-left: 40px;
    margin-top: -150px;
    color: #FFFFFF;
}


#Image-Button-Five{
    width: 175px;
    height: 37px ;
    background-color:#95B226;
    border: none;
    border-radius:47px ;
    
    margin-left: 40px;
    margin-top: -150px;
    color: #FFFFFF;
}

#View{
    width: 197px;
    height: 50px;
    margin-top: 700px;
    margin-left: -650px;
    background-color: black;
    border: none;
    border-radius:12px ;
    font-family:"Quicksand", serif ;
    font-size:20px ;
    font-weight: 800px;
   color:#FFFFFF ;
}
.Footer{
    width: 1440px;
    height: 519px;
    background-color:#01ACFD ;
}


.Main-Footer{

    width: 1071px;
    height: 222px;
    display: flex;  
   
    
}

.Kids{
    
     margin-left: 140px;
    display: flex;
}
.First-side{
    margin-top: 110px;
    width: 500px;
    height: 520px;
    
}


#Kid-Edu{
    margin-left: 10px;
    width: 206px;
    height: 80px;
    font-family:"Quicksand", serif ;
    font-size: 42px;
    font-weight: bold;
    color: #FFFFFF;
}


#Pizza{
    width: 400px;
    height: 100px;
    margin-left: 140px;
    font-family:"Quicksand", serif ;
    font-size: 20px;
    font-weight: 300px;
    color: #FFFFFF; 
}


.Second-side{
    margin-top: 110px;
    margin-left: 250px;
    width: 500px;
    height: 220px;
}
.Home-Foot{
    font-family:"Quicksand", serif ;
    font-size: 20px;
    font-weight: 300px;
    color: #FFFFFF; 
}


#About{
    width: 157px;
    margin-bottom: 30px;
    font-family:"Quicksand", serif ;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF; 
}


.Social-logo{
   display: flex;
}


.Third-side{
    margin-top: 110px;
    margin-left: 250px;
}
.Second-side{
    margin-left: 150px;
}


#Keep-Touch{
    font-family:"Quicksand", serif ;
    font-size: 26px;
    font-weight: bold;
    color: #FFFFFF; 
}

  @media screen and (Max-Width:576px) {
    #Logo{
        padding-left: 0px;
    }

    .school{
        display: none;
    }
    .nav-bar{
        display: none;
    }
    .main-div{
        width: 500px;
        margin-right: 500px;
    }
    .Main{
        flex-direction: column-reverse;
        margin-top: 350px;
        align-items: center;
        text-align: center;
    }

    .Hero{
       
        margin-right: 400px;
    }

    .Text-two{
        align-items: center;
        margin-right: 180px;
        margin-left: 20px;
        width: 500px;
    }
    .Enroll{
        margin-left:50px ;
    }
    .Photos-Text{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: auto;
        height: auto;
        margin-left: 300px;
        margin-bottom: 50px;
       

    }
    .Standard{
        margin-right: 150px;
    }

    .First-Box{
        margin-bottom: 20px;
    }

    .Second-Box{
        margin-bottom: 20px;
    }

    .Third-Box{
        margin-bottom: 20px; 
    }
    .Our-Stories{
      
   flex-direction: column;
    }

    .All-Photo{
        flex-direction: column;
    }
    .Heading{
        align-items: center;
        margin-top: 800px;
        padding-right: 200px;
    }

    .Ball{
     display: none;
    }
    .First-Photo{
        display: none;
    }
    .All-Photo{
        margin-left: 200px;
    }
    .Footer{
       

        flex-direction: column;

    }
    .Main-Footer{
        width: auto;
        height: auto;
        background-color:#01ACFD ;
        flex-direction: column;
    }
    .Social-logo{
        margin-left: 200px;
        margin-bottom: 20px;
    }
    #Keep-Touch{
        margin-left: 200px;
    }

    .Second-side{
        width: auto;
        height: auto;
        margin-left: 480px;
    }

   .Kids{
    width: auto;
        height: auto;
    margin-left: 450px;
   }
   #Pizza{
    
    margin-left: 450px;
   }
  }